<section id="anchor_dash">
  <h2>The Editor's Desk</h2>

  <form method="POST" action="/dash">
    <label for="weather">Weather: </label>
    <input type="text" name="weather" id="weather" />
    <br/><br/>


    <label for="traffic">Traffic: </label>
    <input type="text" name="traffic" id="traffic" />
    <br/><br/>


    <label for="sports">Sports: </label>
    <input type="text" name="sports" id="sports" />
    <br/><br/>

    <label for="fieldreporter">Field Reporter: </label>
    <input type="text" name="field_reporter" id="field_reporter" />
    <br/><br/>

    <label for="editor_note">Editor Note: </label>
    <input type="text" name="editor_note" id="editor_note" />
    <br/><br/>



    <input type="submit" value="Submit" />
  </form>
