  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title></title>
      <meta charset="UTF-8">
  <title>Anchor Dash Baby</title>
  </head>
  <body>
<% if session[:access_token] %>
  <a href="/logout">Logout</a>
<% else %>
  <a href="<%= @url %>">Login with Github</a>
<% end %>
    <ul>
      <li><a href="/dash.erb"></a>Dashboard</li>
      <li><a href="/anchor.erb"></a>Editor Desk</li><br><br>
      <%= @twitter_reults %>

  </body>

  </html>
