  <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Anchor Dashboard</title>
      <meta charset="UTF-8">
  </head>
    <body>
      <% if session[:access_token] %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="<%= @url %>">Login with Github</a>
      <% end %>
    </body>
</html>
