
body {
    background-color: #efefef;

}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  color: red;
}

div.widget-wrapper {
  vertical-align: middle;
}

div.widget, div.sub-widget {
  display: inline-block;
  vertical-align: middle;
}


.login {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  margin-top: 300px;
}

.congress {
  width: 220px;
  float: right;
}

.senate {
  width: 200px;
  height:207px;
  text-align: center;
  border: 3px solid blue;
  background-color: #E4E4E4;
  border-radius: 10px;
  overflow: scroll
}

.house {
  width: 200px;
  height: 207px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid red;
  background-color: #E4E4E4;
  overflow: scroll
}

.weather {
  float: left;
  padding-right: 50px;
  width:450px;
  height: 420px;
  border-radius: 10px;
  text-align: center;
  background-color: #E4E4E4;
  border: 3px solid yellow;


 }

.stocks {
  width:200px;
  height:420px;
  text-align: center;
  border: 3px solid green;
  background-color: #E4E4E4;
  border-radius: 10px;
  float: right;
}

#five{
  width:200px;
  height:100px;
  text-align: right;
  border: 3px solid purple;
  margin-top: 5px;
  margin-bottom: 5px;
}
